$desktop-padding-top: 42px;
$desktop-padding-right: 42px;
$desktop-padding-left: 42px;
$mobile-padding-top: 32px;
$mobile-padding-right: 16px;
$mobile-padding-left: 16px;
$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1407px;
$breakpoint-xl: 1440px;
